@charset "utf-8";
body {
	font: 100%/1.4 Georgia, "Times New Roman", Times, serif;
	background: #FF5533;
	margin: 10px;
	padding: 0;
	color: #242424;
}

h1 {
	font-size: 30px;
	font-weight: bolder;
	color: #099;
	padding-top: 50px;
}

h2 {
	font-size: 18px;
	font-weight: bolder;
	color: #FFF;
}

h3, h4, h5, h6, p {
	font-size: 12px;
	font-weight: bolder;
	color: #FFF;	
}

a:link {
	color: #000;
	text-decoration: underline;
	padding: 5px 5px 5px 5px;
}
a:visited {
	color: #000;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: #000;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
}

a img {
	border: none;
}

#container {
	position: absolute;
    height: 860px;
    width: 800px;
    top: 0;
    left: 50%;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 180px;
	background: #FFCC44;
	padding: 10px 0 0 25px;
}

#create_block {
	position: fixed;
	top: 180px;
	left: 0;
	width: 100%;
	height: 230px;
	background: #00CC99;
	padding: 10px 0 0 25px;
	font-variant: small-caps;
    align: center;
}

#events_block {
	position: fixed;
	top: 410px;
	left: 0;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	overflow: auto;
	background: #FF5533;
	padding: 10px 0 0 25px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	overflow: auto;
	background: #099;
	padding: 10px 0 0 25px;
}