<!DOCTYPE>
<html>
	<head>
		<link href="../stylesheets/main.css" rel="stylesheet" type="text/css" />
		<script src="js/gen_validatorv4.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="message">
				<center>{{ message }}</center>
				</div>
				<center><img src="../images/header.jpg" height="300" width="300"></center>
				<div id="links">
					<a href="/">Home</a> |
					<a href= "{{ user.getUserLink }}" >Your Profile</a> | 
					<a href = "/Make"> Make an Event!</a>
				</div>
			</div>
			<div id="profile_block">
				{{ nickname }}
				<blockquote> Good Events: {{ user.goodEventsCount }} </blockquote>
				{% if user.verified %}
				<br>Verified
				{% endif %}
			</div>
			<div id="footer">
				<p> Friends with Food &copy; 2013 </p>
			</div>
		</div>
		<div id="login">
			<a href="{{ url }}" style="align:right">{{ url_linktext }}</a>
		</div>
	</body>
</html>