<!DOCTYPE>
<html>
	<head>
		<link href="../stylesheets/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1> Friends with Food </h1>
				<div id="links">
					<a href= "{{ currentUser.getUserLink }}" >Your Profile</a> - 
					<a href="/">Home</a> -
					<a href = "/Make"> Make an Event!</a>
				</div>
				<div id="login">
					- <a href="{{ url }}">{{ url_linktext }}</a>
				</div>
			</div>
			<div id="create_block">
				{{ event.name }}
				<i> <br>Courtesy of <a href="{{event.creator.getUserLink}}">{{event.creator.key.name}}</a></i>
				<br>Location: {{event.location}}
				<br>Time: {{event.dateStart.time}} - {{event.dateEnd.time}}
				<br>Date: {{event.dateStart.date}}
				{% if event.verified %}
				<br>Verified
				{% endif %}
				{% if event.description %}
				<br>Description:
				<br>{{event.description}}
				{% endif %}
				{% if event.host %}
				<br>
				<br>Hosted by {{event.host}}
				{% endif %}
			</div>
			<div id="footer">
				<p> Friends with Food &copy; 2013 </p>
			</div>
		</div>
	</body>
</html>